<%= render partial: 'shared/profile' %>
<table class="table table-hover text-center">
  <tbody>
    <% @collects.each do |collect| %>
      <tr data-link="<%= post_path(collect.post) %>" class="text-center" >
        <td width="211px"><h5><%= collect.post.title %></h5></td>
        <td width="251px"></td>
        <td width="231px"></td>
        <td width="216px">
          <div id="collect-<%= collect.post.id %>">
            <%= render partial: "shared/collect", locals: { post: collect.post } %>
          </div>
        </td>
        <td width="222px"></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $("tr[data-link]").click(function(event) {
    if (!$(event.target).is('a')){
      window.location = $(this).data("link")
    };
  });
</script>