<%= render partial: 'shared/profile' %>
<table class="table table-hover">
  <tbody>
    <% @drafts.each do |draft| %>
      <tr>
        <td><h5><%= draft.title %></h5></td>
        <td class="text-capitalize"><h5><%= draft.status %></h5></td>
        <td><h5><%= draft.created_at.to_date %></h5></td>
        <td>
          <%= link_to edit_post_path(draft) do %>
            <h4 class="text-danger"><%= fas_icon 'fas fa-edit' %></h4> 
          <% end %>
        </td>
        <td>
          <%= link_to post_path(draft), method: :delete do %>
            <h4 class="text-danger"><%= fas_icon 'fas fa-trash-alt' %></h4>
          <% end %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>