<div class="container">
  <table class="table table-hover">
    <thead>
      <tr class="text-center text-black-50">
        <th scope="col"><%= sort_link(@ransack, :replies_count, "Replies count", default_order: :desc) %></th>
        <th scope="col">Title</th>
        <th scope="col"><%= sort_link(@ransack, :replies_created_at, "Last replied at", default_order: :desc) %></th>
        <th scope="col"><%= sort_link(@ransack, :viewed_count, "Viewed count", default_order: :desc) %></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>  
        <tr data-link="<%=post_path(post)%>" class="text-center" >
          <td><%= post.replies_count %></td>
          <td><%= post.title %></td>
          <td>
          <% if post.replies_count != 0 %>
            <%= post.replies.last.created_at.strftime("%Y-%m-%d") %>
          <% end %>
          </td>
          <td><%= post.viewed_count %></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
</div>
<script>$("tr[data-link]").click(function() {
  window.location = $(this).data("link")
})</script>
