<div class="jumbotron jumbotron-fluid p-3 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4">
        <%= image_tag @user.avatar, size: "240x240" if @user.avatar? %>
      </div>
      <div class="col-12 col-md-6">
        <%= @user.introduction %>
        <div class="col-12 col-md-12">
          <% if @user.email = current_user.email %>
            <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-outline-success float-right" %>
          <% end %>
        </div>
      </div>  
    </div>
  </div> 
</div>
<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
    <%= link_to 'My Post', post_user_path(current_user), class: "nav-link text-success font-weight-bold" %>
  </li>
  <li class="nav-item">
    <%= link_to 'My Comment', reply_user_path(current_user), class: "nav-link text-success font-weight-bold" %>
  </li>
  <li class="nav-item">
    <%= link_to 'My Collect', collect_user_path(current_user), class: "nav-link text-success font-weight-bold" %>
  </li>
  <li class="nav-item">
    <%= link_to 'My Draft', draft_user_path(current_user), class: "nav-link text-success font-weight-bold" %>
  </li>
  <li class="nav-item">
    <%= link_to 'My friend', friend_user_path(current_user), class: "nav-link text-success font-weight-bold" %>  
  </li>
</ul>